.more-screen .icon-row {
  margin-top: 35px;
  margin-bottom: 30px;
}

.more-suggestions {
  margin-top: 15px;
  border-top: var(--main-border);
  padding-top: 20px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}
